eventProcessorWorkers: 10
inMemoryStorageAdaptor: "org.apache.airavata.datalake.orchestrator.db.inmemory.DefaultInMemoryStore"
messageFilter:
  resourceType: "FILE"
  eventType: "CREATE,MODIFY "
  resourceNameExclusions: "swp$"
outboundEventProcessor:
  pollingInterval: 5
  workflowEngineHost: "{{ workflow_manager_host }}"
  workflowPort: {{ workflow_manager_grpc_port }}
  drmsHost: "{{ datalake_drms_host }}"
  drmsPort: {{ datalake_drms_grpc_port }}
  mftHost: "{{ mft_api_service_host }}"
  mftPort: {{ mft_api_service_grpc_port }}
consumer:
  brokerURL: "{{ datalake_data_orch_broker_url }}"
  consumerGroup: "{{ datalake_data_orch_broker_consumer_group }}"
  topic: "{{ datalake_data_orch_broker_topic }}"
  maxPollRecordsConfig: 10
tenantConfigs:
  tenantId: "{{ datalake_synch_tenant_id }}"
  userGroup: "{{ datalake_data_orch_user_group }}"
  adminGroup: "{{ datalake_data_orch_admin_group }}"