[
  {
      "type": "SCP",
      "secretId": "ed1af924-2a91-412c-bedf-d9321252456d",
      "user": "ubuntu",
      "privateKey": "{{ vault_mft_agent_default_ssh_private_key }}",
      "publicKey": "{{ vault_mft_agent_default_ssh_public_key }}",
      "passphrase": "{{ vault_mft_agent_default_ssh_passphrase }}"
  },
  {
       "type": "SCP",
       "secretId": "febd3032-d6cd-4d9f-aff4-8b79daea9f78",
       "user": "ubuntu",
       "privateKey": "{{ vault_mft_agent_default_ssh_private_key }}",
       "publicKey": "{{ vault_mft_agent_default_ssh_public_key }}",
       "passphrase": "{{ vault_mft_agent_default_ssh_passphrase }}"
  },
  {
    "type": "S3",
    "secretId": "s3-cred",
    "accessKey": "",
    "secretKey": ""
  },
  {
    "type": "BOX",
    "secretId": "box-cred",
    "accessToken": ""
  },
  {
    "type": "AZURE",
    "secretId": "azure-cred",
    "connectionString": "azure-con"
  },
  {
    "type": "GCS",
    "secretId": "gcs-cred",
    "credentialsJson": ""
  },
  {
    "type": "DROPBOX",
    "secretId": "dropbox-cred",
    "accessToken": ""
  }
]